.panel-footer {
    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        display: inline;
        padding-top: 8px;
    }
}

#product-list{ 
    height:90vh;
    overflow-y: scroll;
}

#loading {
    text-align: center;
    padding:10vh;
}